# Rancang Bangun Jaringan Saraf Tiruan untuk Sistem Kendali Lingkungan Termal Climate Chamber

### Program Kecerdasan Buatan untuk membentuk model jaringan saraf tiruan dalam memenuhi Tugas Akhir program studi Teknik Fisika.
### Data di Bulan Maret 2019

In [1]:
# Mengimpor pustaka untuk pengolahan data.
import numpy as np
import pandas as pd

from subprocess import check_output
print(check_output(["ls", "../Data"]).decode("utf8"))

dataDES.xlsx
dataJUN.xlsx
dataMar.xlsx
dataSEP.xlsx
Data Simulasi IESVE (1-60).xlsx
Data Simulasi IESVE (61-80).xlsx
Data Simulasi IESVE (81-100).xlsx
Data Training ANN (1-60).xlsx
Data Training ANN (61-80).xlsx
Data Training ANN (81-100).xlsx
Data Training ANN Gabung (1-100).xlsx
Data Training Musim 1. Mar.xlsx
Data Training Musim 2. Jun.xlsx
Data Training Musim 3. Sep.xlsx
Data Training Musim 4. Des.xlsx

In [2]:
# Mengimpor pustaka untuk visualisasi.
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [3]:
# Memasukkan dataset ke dalam jupyter.
dataMar = pd.read_excel('../Data/dataMar.xlsx')

In [4]:
# Menampilkan 5 data teratas.
dataMar.head()

   No      Time  Heater  AC  DrybulbT  Radiation   AirT     RH   DT
0   1  00:03:00       0   0     24.08        0.0  24.03  70.64  DT1
1   2  00:09:00       0   0     24.08        0.0  24.03  70.72  NaN
2   3  00:15:00       0   0     24.08        0.0  24.04  70.81  NaN
3   4  00:21:00       0   0     24.08        0.0  24.04  70.90  NaN
4   5  00:27:00       0   0     24.08        0.0  24.04  70.99  NaN

In [5]:
# Membuang fitur No, Time dan DT.
dataMar = dataMar.drop(['No','Time','DT'], axis =1)

In [6]:
# Memeriksa persebaran statistik data.
dataMar.describe()

,Heater,AC,DrybulbT,Radiation,AirT,RH
count,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000,6000.000000
mean,0.600000,9.375000,25.211667,104.668917,24.568788,94.383172
std,0.800067,12.379819,1.464896,172.175583,2.428443,7.556413
min,0.000000,0.000000,22.920000,0.000000,16.000000,70.030000
25%,0.000000,0.000000,23.952500,0.000000,24.010000,90.887500
50%,0.000000,0.000000,25.050000,0.000000,24.755000,98.430000
75%,1.000000,24.000000,26.667500,140.000000,26.000000,99.990000
max,2.000000,30.000000,27.300000,660.271000,30.020000,100.000000

In [7]:
# Memeriksa nilai yang kosong.
dataMar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 6 columns):
Heater       6000 non-null int64
AC           6000 non-null int64
DrybulbT     6000 non-null float64
Radiation    6000 non-null float64
AirT         6000 non-null float64
RH           6000 non-null float64
dtypes: float64(4), int64(2)
memory usage: 281.4 KB

## Klasifikasi menggunakan Multi-Layer Perceptron

In [8]:
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [9]:
# Memisahkan data input dan data target.
x = dataMar[['DrybulbT','Radiation','AirT','RH']] # Data Input
y = dataMar[['Heater','AC']]                      # Data Target

In [10]:
# Variabel untuk pembuatan grafik
DrybulbT  = x['DrybulbT']
Radiation = x['Radiation']
AirT      = x['AirT']
RH        = x['RH']
Heater    = y['Heater']
AC        = y['AC']

In [11]:
# One Hot Encoding
y = pd.get_dummies(y, columns = ['Heater','AC'])

In [12]:
# Memisahkan data pelatihan (training) dan data pengujian (testing).
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=(0.20), random_state=27)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(4800, 4) (1200, 4) (4800, 17) (1200, 17)

In [13]:
# Validasi data telah teracak
y_test.head()

,Heater,AC_0,AC_16,AC_17,AC_18,AC_19,AC_20,AC_21,AC_22,AC_23,AC_24,AC_25,AC_26,AC_27,AC_28,AC_29,AC_30
943,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4085,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
283,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4021,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4560,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [14]:
x_train_v = x_train.values
x_test_v = x_test.values
y_train_v = y_train.values
y_test_v = y_test.values

In [15]:
# # Mencari jumlah hidden layer dan neuron optimal
# import operator

# def ann(m,n):
#     return MLPClassifier(hidden_layer_sizes=(m,n), max_iter=500, alpha=0.0001, solver='adam', verbose=10,  random_state=21, tol=0.000000001)

# daftar = {}
# for i in range(4,6):
#     for j in range(2,4):
#         model = ann(i,j)
#         model.fit(x_train_v, y_train_v)
#         y_pred = model.predict(x_test_v)
#         accuracy = accuracy_score(y_test_v, y_pred)
#         key = str(i) + ',' + str(j)
#         daftar[key] = accuracy
#         if accuracy >= 50:
#             neuron = {i,j}
#             break
#         else:
#             neuron = max(daftar.items(), key=operator.itemgetter(1))[0]

# print(neuron, daftar)

In [16]:
# Pembuatan model
model_clf = MLPClassifier(activation='relu', hidden_layer_sizes=(100,75,100), max_iter=500, alpha=0.0001,
                     solver='adam', verbose=10,  random_state=21, tol=0.000000001)
# model_clf = MLPClassifier()

In [17]:
model_clf.fit(x_train, y_train)     # Pelatihan model

ValueError: Multioutput target data is not supported with label binarization

In [ ]:
y_pred = model_clf.predict(x_test)  # Prediksi output
accuracy_score(y_test, y_pred)      # Menampilkan akurasi prediksi

In [ ]:
y_pred

In [ ]:
# Menampilkan confusion matrix
cm = confusion_matrix(y_test, y_pred)
cm

# Visualisasi

In [ ]:
# plot a line, a perfit predict would all fall on this line
plt.subplot(2, 1, 1)
plt.title('Grafik AirT terhadap AC dan Heater')
plt.plot(AirT, AC, '.')
plt.plot(AirT, AC, 'r.')
plt.ylabel('AC')

plt.subplot(2, 1, 2)
plt.plot(AirT, Heater, '.')
plt.plot(AirT, Heater, 'r.')
plt.xlabel('Airt')
plt.ylabel('Heater')

plt.show()

In [ ]:
plt.subplot(2, 1, 1)
plt.title('Grafik AC terhadap AirT dan RH')
plt.plot(x_test.values[:,1], y_test.values[:,0], '.')
plt.plot(x_test.values[:,1], y_pred[:,0], 'r.')
plt.ylabel('AirT')

plt.subplot(2, 1, 2)
plt.plot(x_test.values[:,1], y_test.values[:,1], '.')
plt.plot(x_test.values[:,1], y_pred[:,1], 'r.')
plt.xlabel('AC')
plt.ylabel('RH')

plt.show()

In [ ]:
plt.subplot(2, 1, 1)
plt.title('Grafik DrybulbT terhadap AirT dan RH')
plt.plot(x_test.values[:,2], y_test.values[:,0], '.')
plt.plot(x_test.values[:,2], y_pred[:,0], 'r.')
plt.ylabel('AirT')

plt.subplot(2, 1, 2)
plt.plot(x_test.values[:,2], y_test.values[:,1], '.')
plt.plot(x_test.values[:,2], y_pred[:,1], 'r.')
plt.xlabel('DrybulbT')
plt.ylabel('RH')

plt.show()

In [ ]:
plt.subplot(2, 1, 1)
plt.title('Grafik Radiation terhadap AirT dan RH')
plt.plot(x_test.values[:,3], y_test.values[:,0], '.')
plt.plot(x_test.values[:,3], y_pred[:,0], 'r.')
plt.ylabel('AirT')

plt.subplot(2, 1, 2)
plt.plot(x_test.values[:,3], y_test.values[:,1], '.')
plt.plot(x_test.values[:,3], y_pred[:,1], 'r.')
plt.xlabel('Radiation')
plt.ylabel('RH')

plt.show()